<div class="container">
	<h1>Cadastro de Produtos</h1>
	<form>
		<div class="form-group" style="display:none;">
			<label for="produtoId">produtoId</label> <input type="text"
				class="form-control" name="produtoId" [(ngModel)]="produto.produtoId" required>	
		</div>		
		<div class="form-group">
			<label for="nome">Nome</label> <input type="text"
				class="form-control" name="nome" [(ngModel)]="produto.nome" required>
		</div>
		<div class="form-group">
			<label for="descricao">Descrição</label> <input type="text"
				class="form-control" name="descricao" [(ngModel)]="produto.descricao" required>
		</div>
		<div class="form-group">
			<label for="estoqueProduto">Estoque de Produtos</label> <input type="text"
				class="form-control" name="estoqueProduto" [(ngModel)]="produto.estoqueProduto" required>
		</div>
		<div class="form-group">
			<label for="valorProduto">Valor do Produto</label> <input type="text"
				class="form-control" name="valorProduto" [(ngModel)]="produto.valorProduto" required>
		</div>
			
		<button class="btn btn-success" (click)="addProduto()">Cadastrar</button>
	</form>

<br/>
<br/>
<br/>
	<p></p>
	<table class="table">
		<tr>
			<th>ID</th>
			<th>Nome</th>
			<th>Descrição</th>
			<th>Estoque de Produtos</th>
			<th>Valor do Produto</th>			
		</tr>
		<tr *ngFor="let produto of produtos">
			<td>{{produto.produtoId}} </td>
			<td>{{produto.nome}} </td>
			<td>{{produto.descricao}}</td>
			<td>{{produto.estoqueProduto}}</td>
			<td>{{produto.valorProduto}}</td>
			<td><button class="btn btn-default" (click)="editProduto(produto)">Editar</button></td>
			<td><button class="btn btn-danger" (click)="deleteProduto(produto.produtoId)">Excluir</button></td>						
		</tr>
	</table>
	
</div>









