<div class="container">
	<h1>Cadastro de Serviços</h1>
	<form>
		<div class="form-group" style="display:none;">
			<label for="servicoId">Id</label> <input type="text"
				class="form-control" name="servicoId" [(ngModel)]="servico.nome" required>
		</div>
		<div class="form-group">
			<label for="nome">Nome</label> <input type="text"
				class="form-control" name="nome" [(ngModel)]="servico.nome" required>
		</div>
		<div class="form-group">
			<label for="descricao">Descrição</label> <input type="text"
				class="form-control" name="descricao" [(ngModel)]="servico.descricao" required>
		</div>
		<div class="form-group">
			<label for="tempoServico">Telefone</label> <input type="text"
				class="form-control" name="tempoServico" [(ngModel)]="servico.tempoServico" required>
		</div>
		<div class="form-group">
			<label for="valorServico">Login</label> <input type="text"
				class="form-control" name="valorServico" [(ngModel)]="servico.valorServico" required>
		</div>
				
		<button class="btn btn-success" (click)="addServico()">Cadastrar</button>
	</form>

<br/>
<br/>
<br/>
	<p></p>
	<table class="table">
		<tr>
			<th>Id</th>
			<th>Nome</th>
			<th>Descrição</th>
			<th>Tempo de Serviço</th>
			<th>Valor do Serviço</th>			
		</tr>
		<tr *ngFor="let servico of servicos">
			<td>{{servico.servicoId}} </td>
			<td>{{servico.nome}} </td>
			<td>{{servico.descricao}}</td>
			<td>{{servico.tempoServico}}</td>
			<td>{{servico.valorServico}}</td>
			<td><button class="btn btn-default" (click)="editServico(servico)">Editar</button></td>	
			<td><button class="btn btn-danger" (click)="deleteServico(servico.servicoId)">Excluir</button></td>						
		</tr>
	</table>
</div>