<div class="container">
	<h1>Cadastro de Usuario</h1>
	<form>
		<div class="form-group" style="display:none;">
			<label for="usuarioId">usuarioId</label> <input type="text"
				class="form-control" name="usuarioId" [(ngModel)]="usuario.usuarioId" required>
		</div>
		<div class="form-group">
			<label for="nome">Nome</label> <input type="text"
				class="form-control" name="nome" [(ngModel)]="usuario.nome" required>
		</div>
		<div class="form-group">
			<label for="endereco">Endereço</label> <input type="text"
				class="form-control" name="endereco" [(ngModel)]="usuario.endereco" required>
		</div>
		<div class="form-group">
			<label for="telefone">Telefone</label> <input type="text"
				class="form-control" name="telefone" [(ngModel)]="usuario.telefone" required>
		</div>
		<div class="form-group">
			<label for="login">Login</label> <input type="text"
				class="form-control" name="login" [(ngModel)]="usuario.login" required>
		</div>
		<div class="form-group">
			<label for="senha">Senha</label> <input type="text"
				class="form-control" name="senha" [(ngModel)]="usuario.senha" required>
		</div><div class="form-group">
			<label for="cpf">CPF</label> <input type="text"
				class="form-control" name="cpf" [(ngModel)]="usuario.cpf" required>
		</div>
		<div class="form-group">
			<label for="tipoUsuario">Tipo de Usuário</label> <input type="number"
				class="form-control" name="tipoUsuario" [(ngModel)]="usuario.tipoUsuario" required>
		</div>			
		<button class="btn btn-success" (click)="addUsuario()">Cadastrar</button>
	</form>

<br/>
<br/>
<br/>
	<p></p>
	<table class="table">
		<tr>
			<th>ID</th>
			<th>Nome</th>
			<th>Endereço</th>
			<th>Telefone</th>
			<th>Login</th>
			<th>Senha</th>
			<th>CPF</th>
			<th>Tipo de Usuário</th>
			<th></th>
			<th></th>
		</tr>
		<tr *ngFor="let usuario of usuarios">
			<td>{{usuario.usuarioId}}</td>
			<td>{{usuario.nome}}</td>
			<td>{{usuario.endereco}}</td>
			<td>{{usuario.telefone}}</td>
			<td>{{usuario.login}}</td>
			<td>{{usuario.senha}}</td>
			<td>{{usuario.cpf}}</td>
			<td>{{usuario.tipoUsuario}}</td>
			<td><button class="btn btn-default" (click)="editUsuario(usuario)">Editar</button></td>
			<td><button class="btn btn-danger" (click)="deleteUsuario(usuario.usuarioId)">Excluir</button></td>
		</tr>			
	</table>
	
</div>









